
@{
    ViewBag.Title = "NewAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Add Admin</h2>
<form class="form-group" method="post">
    <label>Username</label>
    <input type="text" name="username" class="form-control" />
    <br />

    <label>Password</label>
    <input type="password" name="password" class="form-control" />
    <br />

     
    <button class="btn btn-success">Save</button>

</form>


