
@{
    ViewBag.Title = "AddExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Add Experience</h2>
<form class="form-group" method="post">
    <label>Title</label>
    <input type="text" name="Title" class="form-control" />
    <br />

    <label>Subtitle</label>
    <input type="text" name="Subtitle" class="form-control" />
    <br />

    <label>Date</label>
    <input type="text" name="Date" class="form-control" />
    <br />

    <label>Description</label>
    <textarea type="text" name="Description" class="form-control" rows=5></textarea>
    <br />

    <button class="btn btn-success">Save</button>

</form>

