
@{
    ViewBag.Title = "NewSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    
<br />
<h2>Add Skill</h2>
<form class="form-group" method="post">
    <label>Name</label>
    <input type="text" name="Skill" class="form-control" />
    <br />

    <label>Progress</label>
    <input type="number" name="Progress" class="form-control" />
    <br />


    <button class="btn btn-success">Save</button>

</form>


