@using CVproject.Models
@model List<TblInterests>

<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Interests</h2>
        @foreach (var item in Model)
        {
            <p>@item.Interest1</p>
            <p class="mb-0">@item.Interest2</p>
        }

    </div>
</section>
