
@{
    ViewBag.Title = "NewSertificate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Add Sertificate</h2>
<form class="form-group" method="post">
    <label>Title</label>
    <input type="text" name="Description" class="form-control" />
    <br />

    <label>Date</label>
    <input type="text" name="Date" class="form-control">
    <br />

    <button class="btn btn-success">Save</button>

</form>

