
@{
    ViewBag.Title = "AddEducation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Add Education</h2>
<form class="form-group" method="post">
    <label>Title</label>
    <input type="text" name="Title" class="form-control" />
    <br />

    <label>Subtitle</label>
    <input type="text" name="Subtitle" class="form-control" />
    <br />

    <label>Subtitle 2</label>
    <input type="text" name="Subtitle2" class="form-control" />
    <br />

    <label>GPA</label>
    <input type="text" name="GPA" class="form-control">
    <br />
    
    <label>Date</label>
    <input type="text" name="Date" class="form-control">
    <br />

    <button class="btn btn-success">Save</button>

</form>


